{{- range .Maintainers }}
#Maintainer: {{- . -}}
{{ end }}
{{ range .Contributors }}
#Contributor: {{- . -}}
{{ end }}

pkgname={{ .Pkgname }}
pkgver={{ .Version  }}
pkgrel={{ .Pkgrel  }}
pkgdesc="{{ .Description }}"
arch=({{- range .Arch -}}
'{{- . -}}' 
{{- end }})
url="{{ .Url  }}"
source_x86_64=(
{{ range .Source_x86_64 -}}
"{{ . }}"
{{ end -}}
)
{{- if .Source_aarch64 }}
source_aarch64=(
{{ range .Source_aarch64 -}}
"{{ . }}"
{{ end -}}
)
{{ end }}
sha256sums_x86_64=('SKIP')

{{- if .Source_aarch64 }}
sha256sums_aarch64=('SKIP')
{{ end }}

package() {
    if [ "$CARCH" = "x86_64" ]; then
        install -Dm755 "$srcdir/$pkgname-$pkgver-x86_64" "$pkgdir/usr/bin/{{ .CliName }}"

{{- if .Source_aarch64 }}
    elif [ "$CARCH" = "aarch64" ]; then
        install -Dm755 "$srcdir/$pkgname-$pkgver-aarch64" "$pkgdir/usr/bin/{{ .CliName }}"
{{ end }}
    fi
}

